# Neural CSAD

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('ggplot')
%matplotlib inline

In [2]:
#Chargement des chunks en mémoires
size = 10000
df = pd.read_csv('./project_data/SET1V_01.CSV.gz', compression='gzip',names=['date','out_id', 'in_id', 'calls', 'duration'], parse_dates=['date'],sep=',', quotechar='"', chunksize=size)

In [3]:
# parcourir les chunks (attention à la ram)
for chunk in df:
    print(chunk)
    break

           date  out_id  in_id  calls  duration
0    2013-01-01       1      1      1        54
1    2013-01-01       1      2      1        39
2    2013-01-01       1     24      1      2957
3    2013-01-01       1    186      1        56
4    2013-01-01       2      2     22       418
5    2013-01-01       2      3      2        53
6    2013-01-01       2      4      4       455
7    2013-01-01       2      5      8       386
8    2013-01-01       2      6      7       204
9    2013-01-01       2      8     13       314
10   2013-01-01       2      9      2        60
11   2013-01-01       2     10      6       229
12   2013-01-01       2     11      2        27
13   2013-01-01       2     12      5       156
14   2013-01-01       2     13      3       101
15   2013-01-01       2     14      1        36
16   2013-01-01       2     15      2       454
17   2013-01-01       2     16      6       252
18   2013-01-01       2     19      3       140
19   2013-01-01       2     22      3       192
20   2013-01-01       2     24      1       162
21   2013-01-01       2     25      1        19
22   2013-01-01       2     27      5       547
23   2013-01-01       2     28      1        56
24   2013-01-01       2     29      1       142
25   2013-01-01       2     30      3       302
26   2013-01-01       2     31      5       213
27   2013-01-01       2     32      1        50
28   2013-01-01       2     33      2        95
29   2013-01-01       2     35      1        63
...         ...     ...    ...    ...       ...
9970 2013-01-01      44    715      1       708
9971 2013-01-01      44    748      1        91
9972 2013-01-01      44    764      1        12
9973 2013-01-01      44    771      1       122
9974 2013-01-01      44    790      1         1
9975 2013-01-01      44    795      1        52
9976 2013-01-01      44    802      1       463
9977 2013-01-01      44    809      1        30
9978 2013-01-01      44    826      1       180
9979 2013-01-01      44    868      1        18
9980 2013-01-01      44    909      1        26
9981 2013-01-01      44    929      1       104
9982 2013-01-01      44    944      1       160
9983 2013-01-01      44    998      2       115
9984 2013-01-01      44   1008      3       288
9985 2013-01-01      44   1010      2       123
9986 2013-01-01      44   1011      1        20
9987 2013-01-01      44   1017      1        58
9988 2013-01-01      44   1019      2        86
9989 2013-01-01      44   1022      1       175
9990 2013-01-01      44   1028      2       212
9991 2013-01-01      44   1030      1         9
9992 2013-01-01      44   1033      1        57
9993 2013-01-01      44   1041      2       279
9994 2013-01-01      44   1042      2        97
9995 2013-01-01      44   1054      1        93
9996 2013-01-01      44   1055      1         2
9997 2013-01-01      44   1057      2       245
9998 2013-01-01      44   1062      1        61
9999 2013-01-01      44   1094      1        26

[10000 rows x 5 columns]