# Neural CSAD

In [1]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import sys
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from psutil import virtual_memory
import tensorflow as tf
plt.style.use('ggplot')
%matplotlib inline

In [2]:
#optimizing memory load
mem = virtual_memory()
size = int(mem.total/100000)
size = 1000
#Chargement des chunks en mémoires
df = pd.read_csv('./project_data/SET1V_01.CSV.gz', compression='gzip',names=['date','out_id', 'in_id', 'calls', 'duration'], parse_dates=['date'],sep=',', quotechar='"', chunksize=size)

In [3]:
sess = tf.InteractiveSession()
x = tf.placeholder(tf.float32, shape=[None, 4])
#test de prédiction de juste les calls
y_ = tf.placeholder(tf.float32, shape=[None, 1])
w = tf.Variable(tf.zeros([4,1]))
b = tf.Variable(tf.zeros([1]))
y = tf.matmul(x,w)+b
cross_entropy = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(y,y_))
train_step = tf.train.GradientDescentOptimizer(0.5).minimize(cross_entropy)
tf.initialize_all_variables().run()
i=0
print('Initialized')

Initialized

In [4]:
for chunk in df:
    i +=1
    chunk['day'] = chunk.date.dt.day
    chunk['hour'] = chunk.date.dt.hour
    chunk1 = np.array(chunk[['day','hour','out_id','in_id']])
    chunk2 = np.array(chunk['calls'])
    sess.run(train_step, feed_dict={x: chunk1 ,y_: chunk2[np.newaxis, :].T})
    sys.stdout.write('\r >> session %s ' % i)
    sys.stdout.flush()
    if (i==6000):
        break

 >> session 6000

In [13]:
 # Test trained model
chunk = next(df)
chunk['day'] = chunk.date.dt.day
chunk['hour'] = chunk.date.dt.hour
chunk1 = np.array(chunk[['day','hour','out_id','in_id']])
chunk2 = np.array(chunk['calls'])
#TODO changer la métrique
correct_prediction = tf.equal(tf.round(y),tf.round(y_))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))
chunk

                       date  out_id  in_id  calls  duration  day  hour
6007000 2013-01-02 19:00:00    1600   1517      1        61    2    19
6007001 2013-01-02 19:00:00    1600   1519      1       200    2    19
6007002 2013-01-02 19:00:00    1600   1522      1        51    2    19
6007003 2013-01-02 19:00:00    1600   1529      2         4    2    19
6007004 2013-01-02 19:00:00    1600   1532      2        37    2    19
6007005 2013-01-02 19:00:00    1600   1538      1        81    2    19
6007006 2013-01-02 19:00:00    1600   1551      4       291    2    19
6007007 2013-01-02 19:00:00    1600   1552      1       102    2    19
6007008 2013-01-02 19:00:00    1600   1565      1        59    2    19
6007009 2013-01-02 19:00:00    1600   1569      1        79    2    19
6007010 2013-01-02 19:00:00    1600   1572      1        40    2    19
6007011 2013-01-02 19:00:00    1600   1574      3       109    2    19
6007012 2013-01-02 19:00:00    1600   1581      3       170    2    19
6007013 2013-01-02 19:00:00    1600   1584      1         5    2    19
6007014 2013-01-02 19:00:00    1600   1585      1        40    2    19
6007015 2013-01-02 19:00:00    1600   1591      1       109    2    19
6007016 2013-01-02 19:00:00    1600   1593      6       303    2    19
6007017 2013-01-02 19:00:00    1600   1594      3       159    2    19
6007018 2013-01-02 19:00:00    1600   1595      1        57    2    19
6007019 2013-01-02 19:00:00    1600   1596      6       164    2    19
6007020 2013-01-02 19:00:00    1600   1599      2       134    2    19
6007021 2013-01-02 19:00:00    1600   1600     42       996    2    19
6007022 2013-01-02 19:00:00    1600   1605      6      1062    2    19
6007023 2013-01-02 19:00:00    1600   1611      5       303    2    19
6007024 2013-01-02 19:00:00    1600   1616      5       646    2    19
6007025 2013-01-02 19:00:00    1600   1618      3       293    2    19
6007026 2013-01-02 19:00:00    1600   1620      4       118    2    19
6007027 2013-01-02 19:00:00    1600   1623      3       266    2    19
6007028 2013-01-02 19:00:00    1600   1627      5       490    2    19
6007029 2013-01-02 19:00:00    1600   1628      3       320    2    19
...                     ...     ...    ...    ...       ...  ...   ...
6007970 2013-01-02 19:00:00    1626   1637      9       454    2    19
6007971 2013-01-02 19:00:00    1626   1640      2        83    2    19
6007972 2013-01-02 19:00:00    1627     10      1        56    2    19
6007973 2013-01-02 19:00:00    1627     14      1        26    2    19
6007974 2013-01-02 19:00:00    1627     24      1        39    2    19
6007975 2013-01-02 19:00:00    1627     25      2        64    2    19
6007976 2013-01-02 19:00:00    1627     56      1        10    2    19
6007977 2013-01-02 19:00:00    1627     80      1        60    2    19
6007978 2013-01-02 19:00:00    1627     88      2        91    2    19
6007979 2013-01-02 19:00:00    1627    109      1        76    2    19
6007980 2013-01-02 19:00:00    1627    126      1       165    2    19
6007981 2013-01-02 19:00:00    1627    130      1        92    2    19
6007982 2013-01-02 19:00:00    1627    134      1        96    2    19
6007983 2013-01-02 19:00:00    1627    137      1        13    2    19
6007984 2013-01-02 19:00:00    1627    157      1        92    2    19
6007985 2013-01-02 19:00:00    1627    165      2        95    2    19
6007986 2013-01-02 19:00:00    1627    167      1        70    2    19
6007987 2013-01-02 19:00:00    1627    170      1        15    2    19
6007988 2013-01-02 19:00:00    1627    171      1       224    2    19
6007989 2013-01-02 19:00:00    1627    188      1        11    2    19
6007990 2013-01-02 19:00:00    1627    191      1         9    2    19
6007991 2013-01-02 19:00:00    1627    214      1       109    2    19
6007992 2013-01-02 19:00:00    1627    216      1        96    2    19
6007993 2013-01-02 19:00:00    1627    257      1       165    2    19
6007994 2013-01-02 19:00:00    1627    270      1        48    2    19
6007995 2013-01-02 19:00:00    1627    278      1        37    2    19
6007996 2013-01-02 19:00:00    1627    279      1       167    2    19
6007997 2013-01-02 19:00:00    1627    288      1       185    2    19
6007998 2013-01-02 19:00:00    1627    297      1         7    2    19
6007999 2013-01-02 19:00:00    1627    298      2        20    2    19

[1000 rows x 7 columns]

In [14]:
print(sess.run(accuracy, feed_dict={x: chunk1, y_: chunk2[np.newaxis, :].T}))

0.0